<div id="wrapper" >
  <div id="header-top" >
    <div id="logo"><!--start logo-->
      <a href="/" title="Home">
        <img src="/images/logo.png" alt="Home" />
      </a>
      <div id="site-slogan"></div><!--site slogan-->
    </div><!--end logo-->
    <div id="header" ><!--start header-->
      <div id="main-menu"> <!-- added scroll class -->
        <ul class="menu"><li><a href="#Портфолио" title="Our works">Портфолио</a></li>
          <li><a href="#О%20нас" title="">О нас</a></li>
          <li><a href="#Наши%20услуги" title="">Наши услуги</a></li>
          <li><a href="#Контакты" title="">Контакты</a></li>
        </ul></div><!-- end main-menu -->
    </div> <!-- /#header -->
  </div><!--end header-top-->
  <div id="static-content"> Text with images</div><!-- static content -->
  <div id="content-body">
    <div id="main">
      <div class="region region-content">
        <div id="block-system-main" class="block block-system">
          <div class="content">
            <div class="view view-frontpage view-id-frontpage view-display-id-page view-dom-id-df8ad580318b16aff0c520c86f98228a">
              <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first">
                  <article id="node-2" class="node node-article node-promoted clearfix" about="/?q=node/2" typeof="sioc:Item foaf:Document">
                    <header>
                      <h2 class="title"  property="dc:title" datatype=""><a name="Портфолио"> Портфолио</a></h2>
                      <!-- Submitted info not rendered -->
                      <!--         <span class="submitted"><span property="dc:date dc:created" content="2012-08-20T00:24:55+03:00" datatype="xsd:dateTime" rel="sioc:has_creator">By <span class="username" xml:lang="" about="/?q=user/1" typeof="sioc:UserAccount" property="foaf:name">root</span> on Mon, 08/20/2012 - 00:24</span></span>
                      -->
                    </header>

                    <div class="content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="underline-title">__________</p>
                        <p><img alt="" class="portfolio-images" src="/images/openevent.jpg" style="width: 312px; height: 260px;" /><img alt="" class="portfolio-images" src="/images/Lufthansa-Event-10.jpg" style="width: 312px; height: 260px;" /><img alt="" class="portfolio-images" src="/images/beachevents.jpg" style="width: 312px; height: 260px;" /><img alt="" class="portfolio-images" src="/images/Lufthansa-Event-10.jpg" style="width: 312px; height: 260px;" /><img alt="" class="portfolio-images" src="/images/openevent.jpg" style="width: 312px; height: 260px;" /><img alt="" class="portfolio-images" src="/images/beachevents.jpg" style="height: 260px; width: 312px;" /></p>
                      </div></div></div>  </div>

                    <!-- Tags comments and buttons are not rendered -->
                    <!--      <footer>
                       <div class="field field-name-field-tags field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even" rel="dc:subject"><a href="/?q=taxonomy/term/2" typeof="skos:Concept" property="rdfs:label skos:prefLabel">портфолио</a></div><div class="field-item odd" rel="dc:subject"><a href="/?q=taxonomy/term/1" typeof="skos:Concept" property="rdfs:label skos:prefLabel">portfolio</a></div></div></div>          </footer>

                    -->


                  </article> <!-- /.node -->
                </div>
                <div class="views-row views-row-2 views-row-even">
                  <article id="node-4" class="node node-article node-promoted clearfix" about="/?q=%D0%9E%20%D0%BD%D0%B0%D1%81" typeof="sioc:Item foaf:Document">
                    <header>
                      <h2 class="title"  property="dc:title" datatype=""><a name="О нас"> О нас</a></h2>


                      <!-- Submitted info not rendered -->
                      <!--         <span class="submitted"><span property="dc:date dc:created" content="2012-08-23T16:54:50+03:00" datatype="xsd:dateTime" rel="sioc:has_creator">By <span class="username" xml:lang="" about="/?q=user/1" typeof="sioc:UserAccount" property="foaf:name">root</span> on Thu, 08/23/2012 - 16:54</span></span>
                      -->

                    </header>

                    <div class="content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="underline-title">__________</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ipsum nunc, ultricies ut fermentum quis, ultrices sagittis sem. Vestibulum at quam sit amet quam pretium ullamcorper. Pellentesque ligula tellus, tempus quis hendrerit non, semper ut ligula. Curabitur et nunc quam. Vestibulum felis dolor, lobortis eget convallis et, consectetur vitae felis. Nulla facilisi. Morbi quis odio sit amet ligula auctor consequat ut vel erat. Fusce viverra elementum aliquet. Suspendisse massa est, ultrices in sollicitudin eu, vestibulum quis purus. Sed vitae nisl eu neque sodales venenatis sed quis nunc.</p>
                        <p>Pellentesque ac velit nulla. Aenean scelerisque lobortis justo, eget suscipit mi pharetra eu. Sed in erat purus. Etiam id odio eget quam scelerisque congue vel quis mi. Fusce et enim vitae neque lobortis eleifend. Ut accumsan blandit viverra. Curabitur at augue id augue dapibus dapibus auctor eu nulla. Aenean quis arcu id est convallis ultrices et et eros. Sed eget pellentesque enim.</p>
                      </div></div></div>  </div>

                    <!-- Tags comments and buttons are not rendered -->
                    <!--      <footer>
                       <div class="field field-name-field-tags field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even" rel="dc:subject"><a href="/?q=taxonomy/term/3" typeof="skos:Concept" property="rdfs:label skos:prefLabel">О нас</a></div></div></div>          </footer>

                    -->


                  </article> <!-- /.node -->
                </div>
                <div class="views-row views-row-3 views-row-odd">
                  <article id="node-5" class="node node-article node-promoted clearfix" about="/?q=%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8" typeof="sioc:Item foaf:Document">
                    <header>
                      <h2 class="title"  property="dc:title" datatype=""><a name="Наши услуги"> Наши услуги</a></h2>


                      <!-- Submitted info not rendered -->
                      <!--         <span class="submitted"><span property="dc:date dc:created" content="2012-08-23T16:59:22+03:00" datatype="xsd:dateTime" rel="sioc:has_creator">By <span class="username" xml:lang="" about="/?q=user/1" typeof="sioc:UserAccount" property="foaf:name">root</span> on Thu, 08/23/2012 - 16:59</span></span>
                      -->

                    </header>

                    <div class="content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="underline-title">__________</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ipsum nunc, ultricies ut fermentum quis, ultrices sagittis sem. Vestibulum at quam sit amet quam pretium ullamcorper. Pellentesque ligula tellus, tempus quis hendrerit non, semper ut ligula. Curabitur et nunc quam. Vestibulum felis dolor, lobortis eget convallis et, consectetur vitae felis. Nulla facilisi. Morbi quis odio sit amet ligula auctor consequat ut vel erat. Fusce viverra elementum aliquet. Suspendisse massa est, ultrices in sollicitudin eu, vestibulum quis purus. Sed vitae nisl eu neque sodales venenatis sed quis nunc.</p>
                        <p>Pellentesque ac velit nulla. Aenean scelerisque lobortis justo, eget suscipit mi pharetra eu. Sed in erat purus. Etiam id odio eget quam scelerisque congue vel quis mi. Fusce et enim vitae neque lobortis eleifend. Ut accumsan blandit viverra. Curabitur at augue id augue dapibus dapibus auctor eu nulla. Aenean quis arcu id est convallis ultrices et et eros. Sed eget pellentesque enim.</p>
                      </div></div></div>  </div>

                    <!-- Tags comments and buttons are not rendered -->
                    <!--      <footer>
                       <div class="field field-name-field-tags field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even" rel="dc:subject"><a href="/?q=taxonomy/term/4" typeof="skos:Concept" property="rdfs:label skos:prefLabel">Наши услуги</a></div></div></div>          </footer>

                    -->


                  </article> <!-- /.node -->
                </div>
                <div class="views-row views-row-4 views-row-even views-row-last">
                  <article id="node-6" class="node node-article node-promoted clearfix" about="/?q=%D0%9A%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B" typeof="sioc:Item foaf:Document">
                    <header>
                      <h2 class="title"  property="dc:title" datatype=""><a name="Контакты"> Контакты</a></h2>


                      <!-- Submitted info not rendered -->
                      <!--         <span class="submitted"><span property="dc:date dc:created" content="2012-08-23T17:02:24+03:00" datatype="xsd:dateTime" rel="sioc:has_creator">By <span class="username" xml:lang="" about="/?q=user/1" typeof="sioc:UserAccount" property="foaf:name">root</span> on Thu, 08/23/2012 - 17:02</span></span>
                      -->

                    </header>

                    <div class="content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="underline-title">__________</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel neque magna, id adipiscing nunc. Proin lobortis eleifend dolor, at fringilla lorem dignissim at. Praesent ornare molestie felis ac sodales. Sed volutpat, arcu ac molestie consequat, neque tellus gravida lectus, vitae cursus magna lorem sed massa. Praesent quis nunc a nisi lacinia tempor. Nulla malesuada convallis consectetur. Etiam sodales condimentum nulla, in adipiscing felis eleifend nec. Morbi lacinia iaculis iaculis. Vivamus fermentum ligula vitae turpis commodo condimentum. Suspendisse pharetra placerat nunc ac fermentum.</p>
                        <p>Cras ultrices luctus est a fringilla. Cras rhoncus, ipsum ac laoreet gravida, turpis lorem semper elit, ac vehicula tortor dui non est. Quisque eleifend tellus ac mauris sodales vel vestibulum libero consectetur. Phasellus vel tincidunt tellus. Nullam dictum malesuada condimentum. Suspendisse quis ornare est. Suspendisse convallis lobortis viverra. Fusce felis justo, sagittis semper euismod eget, ultrices ac enim. Ut vel neque vel dui facilisis euismod. Nam ligula nulla, eleifend quis mollis eget, hendrerit vitae ante. Aenean magna metus, porta eu congue vitae, pharetra at nunc. Nullam blandit risus libero. Ut volutpat euismod vehicula. Mauris et ligula mi.</p>
                      </div></div></div>  </div>

                    <!-- Tags comments and buttons are not rendered -->
                    <!--      <footer>
                       <div class="field field-name-field-tags field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even" rel="dc:subject"><a href="/?q=taxonomy/term/5" typeof="skos:Concept" property="rdfs:label skos:prefLabel">Контакты</a></div></div></div>          </footer>

                    -->


                  </article> <!-- /.node -->
                </div>
              </div>
        </div> <!-- /.block -->
      </div>
      <!-- /.region -->
    </div> <!-- /#main -->
  </div> <!-- end content-body -->
    <div id="footer" >
    <div class="clear"></div>
    <div class="region region-footer">
      <div id="block-system-powered-by" class="block block-system">


        <div class="content">
          <span>Powered by <a href="http://drupal.org">Drupal</a></span>  </div>

      </div> <!-- /.block -->
      <div id="block-user-login" class="block block-user">

        <h2 >User login</h2>

        <div class="content">
          <form action="/?q=home&amp;destination=home" method="post" id="user-login-form" accept-charset="UTF-8"><div><div class="form-item form-type-textfield form-item-name">
            <label for="edit-name">Username <span class="form-required" title="This field is required.">*</span></label>
            <input type="text" id="edit-name" name="name" value="" size="15" maxlength="60" class="form-text required" />
          </div>
            <div class="form-item form-type-password form-item-pass">
              <label for="edit-pass">Password <span class="form-required" title="This field is required.">*</span></label>
              <input type="password" id="edit-pass" name="pass" size="15" maxlength="60" class="form-text required" />
            </div>
            <div class="item-list"><ul><li class="first"><a href="/?q=user/register" title="Create a new user account.">Create new account</a></li>
              <li class="last"><a href="/?q=user/password" title="Request new password via e-mail.">Request new password</a></li>
            </ul></div><input type="hidden" name="form_build_id" value="form-K4UAYQTcHfGeCThsFtEHEEzfCVKwx9MdRVmwXGLEb7A" />
            <input type="hidden" name="form_id" value="user_login_block" />
            <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Log in" class="form-submit" /></div></div></form>  </div>

      </div> <!-- /.block -->
    </div>
    <!-- /.region -->
    <div class="clear"></div>
    <div id="copyright">Copyright &copy; 2012, CНС Ивент</div>
  </div> <!-- /#footer -->
  <ul id="header-social">
    <li><a href="http://www.twitter.com/va_alexander" target="_blank" rel="me"><img src="/images/twitter.png" alt="twitter"/></a></li>
    <li><a href="http://www.facebook.com/techyag" target="_blank" rel="me"><img src="/images/facebook.png" alt="facebook"/></a></li>
    <li><a href="//rss.xml"><img src="/images/rss.png" alt="RSS"/></a></li>
  </ul><!--end header-social-->
</div> <!-- /#wrapper -->