<div id="ClientsWrapper" class="ContentBorder">
  <div id="SocialWrapper">
    <ul>
      <li>
        <%= image_tag '/assets/fb_logo.png' %> 
      </li>
      <li>
        <%= image_tag '/assets/tw_logo.png' %> 
      </li>
      <li>
        <%= image_tag '/assets/vk_logo.png' %> 
      </li>
    </ul> 
  </div>
    <div class="newsAllRight">
      <div class="newsEvent">
        <h5> Title </h5>
        <p> Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games, 
          giveaways and photo ops for consumers in New York’s Times Square.
          Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games,
        </p>
        
      </div>
      <div class="newsEvent">
        <h5> Title </h5>
        <p> Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games, 
          giveaways and photo ops for consumers in New York’s Times Square.
          Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games,
        </p>
        
      </div>
      <div class="newsEvent">
        <h5> Title </h5>
        <p> Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games, 
          giveaways and photo ops for consumers in New York’s Times Square.
          Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games,
        </p>
        
      </div>
      <div class="newsEvent">
        <h5> Title </h5>
        <p> Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games, 
          giveaways and photo ops for consumers in New York’s Times Square.
          Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games,
        </p>
        
      </div>
      <div class="newsEvent">
        <h5> Title </h5>
        <p> Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games, 
          giveaways and photo ops for consumers in New York’s Times Square.
          Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games,
        </p>
        
      </div>
      <div class="newsEvent">
        <h5> Title </h5>
        <p> Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games, 
          giveaways and photo ops for consumers in New York’s Times Square.
          Charlie the Tuna on Feb. 11 celebrated his 50th birthday as the spokes-tuna for StarKist with games,
        </p>
        
      </div>
    </div>
</div>