<% content_for :title do %>
  Домашняя
<% end %>

<% content_for :mainMenu do %>
	<% render 'menu' %>
<% end %>


<h2 class="title" name="Портфолио">Портфолио</h2>
<div id="PortfolioWrapper">
  <h1>Listing project_images</h1>

  <% ProjectImage.all.each do |project_image| %>
    <div class="portfolio-image"><%= image_tag project_image.event_image.url %></div>
  <% end %>

  <br />

  <%= link_to 'New Project image', new_project_image_path %>
</div>