<% content_for :title do %>
  Домашняя
<% end %>
<!--Center Part-->
<div id="main">
  <!--Content Area-->
  <div id="content-body">
    <!--Head Line-->
    <div id="static-content">
      <h2>Ивенты &amp; Жизнь</h2>
      <ul class="ch-grid">
          <li>
            <div class="ch-item">       
              <div class="ch-info">
                <div class="ch-info-front ch-img-1"></div>
                <div class="ch-info-back">
                  <h3>Mouse</h3>
                  <p>by Alexander Shumihin <a href="http://drbl.in/eAoj">View on Dribbble</a></p>
                </div>  
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-2"></div>
                <div class="ch-info-back">
                  <h3>You</h3>
                  <p>by Zoe Ingram <a href="http://drbl.in/eCcV">View on Dribbble</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-3"></div>
                <div class="ch-info-back">
                  <h3>Love</h3>
                  <p>by Eileen Tjan <a href="http://drbl.in/ewTL">View on Dribbble</a></p>
                </div>
              </div>
            </div>
          </li>
        </ul>            
  </div>
    <h2 class="title" name="Портфолио">Портфолио</h2>
    <div class="underline-title"> ---------------------------------------- </div>
		<div id="PortfolioWrapper" style="clear:both">
			<% ProjectImage.all.each do |project_image| %>
		    <div class="portfolio-image-holder"> <%= image_tag project_image.event_image.url(:thumb) %></div>
		  <% end %>
		  <% link_to 'New Project image', new_project_image_path %>
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
		</div>
    <h2 class="title" name="Клиенты">Клиенты</h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="ClientsWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <h2 class="title" name="О Нас">О Нас</h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="AboutWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <h2 class="title" name="Услуги">Услуги</h2>
    <div class="underline-title"> ---------------------------------------- </div>
    <div id="AboutWrapper">
       <!-- Longer page -->
       <% for i in 1..12 do %>
          <ul>Lorem Ipsum</ul>
        <% end %>
    </div>
    <div id="ContactsWrapper">
    <h2 id="ContactsTitle" name="Контакты">Контакты</h2>
    <div id="underline-title-contacts"> ---------------------------------------- </div>
    <div id="sendMessage">Оставьте нам сообщение</div>
       <%= render :partial => '/contact/new', :locals => {:message => Message.new } %>
    </div>
  </div>
</div>

