<% content_for :title do %>
	<%= @project.name %>
<% end %>

<div id="leftContent"> 
  <div id="clientLogo"> 
    
  </div>
  <div id="clientDescription"> 

  </div>
</div>
<div id="rightContent"> 
  <div id="clientPicture"> 

  </div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
