/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets//stylesheets, vendor/assets//stylesheets,
 * or vendor/assets//stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* Default Style
------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
  border: 1px solid #bbbbbb;
  background: #d8d8d8 url(images/quote.png) no-repeat;
  padding: 10px 5px 5px 47px;
  text-shadow: 1px 1px #fff;
  margin: 5px 0;
  border-radius: 7px;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
pre {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

code {
  background: #d8d8d8;
  text-shadow: 1px 1px #fff;
  border: 1px solid #bbbbbb;
  display: block;
  padding: 7px;
  margin: 5px 0;
  border-radius: 7px;
}

ins {
  background-color:#fdfc9b;
  text-decoration:none;
}

mark {
  background-color:#fdfc9b;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

hr {
  height:1px;
  background: #9f9f9f;
  margin: 7px 0;
  border: none;
  clear: both;
  float: none;
  width: 100%;
}

select {
  border-radius: 4px;
  border: 1px solid #ACACAC;
  padding: 3px 4px;
}



/* Footer
------------------------------------------------*/
#footer {
  clear: both;
  width: 980px;
  color: #444444;
  background: #333333;
}
#footer a{
  color: #676767;
  text-decoration: none;
}
#footer a:hover{
  color: #000;
  text-decoration: none;
}
#footer h2{
  color: #000;
  font-family: sans-serif;
  font-weight: bold;

}
#footer ul {
  margin: 0;
  padding: 0;
}
#footer li {
  list-style: none;
  list-style-image: none;
  background: url(images/sidebar-arrow.png) no-repeat left center;
  border-bottom: 1px dotted #464646;
  padding: 4px 0 4px 17px;
}
.first-footer{
  width: 230px;
  float: left;
}
.second-footer{
  width: 230px;
  float: left;
  margin-left: 20px;
}
#copyright{
  border-top: 1px dashed #656565;
  padding-top: 4px;
  color: #949494;
  margin-bottom: 10px;
}

/* scroll to top
-------------------------------------------------------------- */
.backtotop { 
background:url(/assets/goup.png) no-repeat; 
width:53px; 
height:53px; 
}

/* Locales */
#locales {
  float: right;
}

/* content body (sidebars and main content)
------------------------------------------------*/
#content-body {
  float: left;
  background: white;
  width: 977px;
  padding: 0;
  /*border: 1px solid #dbdbdb;*/
}
/* main post content
------------------------------------------------*/
#main {
  display: inline;
  margin: 0;
  padding: 0;
  width: 977px;
}

#main .content {
  margin: 0;
  padding: 0;
  width: 977px;
}


/**
  =main menu
*/

#main-menu ul{
  text-align: center;
  list-style: none;
  float: left;
  position: relative;
  width: 980px;
  z-index: 20;  
  background: #333333;
  line-height: 34px;
}

#main-menu li {
  display: inline;
  padding: 0 19px 0 19px;
}

#main-menu li a {
  color: #B3B3B3;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
}

#main-menu li a:active {
  color: #FCA31B;
}

#main-menu li a:hover {
  color: #FCA31B;
}

.underline-title {
  width: 970px;
  text-align: center;
  color: #B3B3B3;
  font-size: 15px;
  letter-spacing: -3px;
  padding: 0 0 20px 0;
}

#underline-title-contacts {
  width: 970px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  letter-spacing: -3px;
  padding: 0 0 20px 0;
}

.portfolio-image-holder {
  float: left;
  width: 312px;
  height: 260px;
}
.portfolio-image-left {
  padding: 10px 10px 10px 0;
}
.portfolio-image-center {
  padding: 10px 10px 10px 10px;
}
.portfolio-image-right {
  padding: 10px 0 10px 10px;
}
/**
titles to center
------------------------------------------------*/
.title{
  width: 968px;
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  text-align: center;
  font-family: arial, helvetica, sans-serif;

}
.title a{
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  font-family: arial, helvetica, sans-serif;
}
h2.title a{
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgb(102, 102, 102);
  font-family: arial, helvetica, sans-serif;
}

#static-content {

  text-align: center;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  padding: 80px 0 0 0;
}

.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-right: 1em;  text-align: left; }

.clear{
  clear: both;
}

/* Layout
------------------------------------------------*/
#pageWrapper {
  margin: 0 auto;
  padding: 0;
  width: 980px;
}

/* Header Wrapper
------------------------------------------------*/
#headerWrapper {
  background-size: 54px;
  background: white;
  float: left;
  position: fixed;
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 980px;
  height: 54px;
  z-index: 20;
}

#headerWrapper #logo {
  float: left;
  width: 300px;
}

#ContactsTitle{
  padding-top: 15px;
  width: 968px;
  font-size: 32px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

#PortfolioWrapper {
  width: 990px;
  float: left;
}

#AboutWrapper {

}
.ContentBorder {
  border-top: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  border-left: solid 1px #d9d9d9; 
  border-right: solid 1px #d9d9d9;
  width:946px;
  float:left;
  padding:15px;
  margin:0 0 18px 0;
}

.ContentBorder .right {
  width:300px;
  float:right;
  border-left: solid 1px #b3b3b3;
  padding:0 25px 0 40px;
  min-height:300px;
}
.ContentBorder .left {
  width:460px;
  float:left;
  margin-right:10px;
  padding:0 45px 0 15px;
}

#ContactsWrapper {
  width: 980px;
  padding: 0;
  margin: 0 0 0 -1px;
  float: left;
  color:#f2f2f2;
  background: #333333;
}

/** =ContactForm **/
#sendMessage{
  color:#f2f2f2;
  font-size:20px;
  border-bottom:solid 1px #929292;
  padding: 40px 0 15px 0;
  width:938px; 
  float:left;
  margin: 0 15px 30px 15px;
}
#message{ 
  font-size: 14px;
  width:938px;
  float:left;
  padding:0 15px;
}

input, textarea{ 
  width:98%; 
  background:#ccc; 
  border: none; 
  padding: 5px 5px 5px 5px; 
  color: #333333;
  border-top: solid 1px #929292; 
  border-right: solid 1px #929292; 
  font-family:Arial, Helvetica, sans-serif; 
  font-size:14px;
}

.leftside{
  float:left;
  width:400px; 
  font-size:16px; 
  color:#f2f2f2; 
  padding: 0 0 0 0px; 
  margin:0 15px 0 0;
}
.leftside ul{ 
  padding:0px; 
  margin:0px;
}
.leftside ul li{ 
  display:block; 
  margin:0 0 15px 0; 
  list-style:none; 
  line-height:20px;
}

.leftside ul li span{  
  padding: 0 0 0 0px;
}
.leftside ul li span a{ 
  color:#f2f2f2;
  font-size:32px;
  font-weight:bolder;
  padding:0 0 0 20px ;
}
.leftside ul li span a:hover{
 color:#FCA31B; 
}

.rightside{
  float:right;
  width:515px;
  font-size:16px;
  color:#f2f2f2;
  padding: 0 0px 0 0px;
}
.rightside ul{ 
  padding:0px;
  margin:0px;
}
.rightside ul li{
  display:block;
  margin:0 0 15px 0;
  list-style:none;
  line-height:20px;
}